{% extends 'shop/base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-5">About Us</h1>
  <p class="text-center">Welcome to our online shop! We are a team of passionate developers dedicated to bringing you the best shopping experience.</p>

  <div class="row mt-5 justify-content-center">
    <div class="col-md-4 text-center">
      <div class="card">
        <img src="/media/developer1.jpg" class="card-img-top" alt="Developer 1" style="object-fit: cover; height: 350px;">
        <div class="card-body">
          <h5 class="card-title">A.B.</h5>
          <p class="card-text">Lead Developer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card">
        <img src="/media/developer2.jpg" class="card-img-top" alt="Developer 2" style="object-fit: cover; height: 350px;">
        <div class="card-body">
          <h5 class="card-title">C.D.</h5>
          <p class="card-text">Frontend Developer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card">
        <img src="/media/developer3.jpg" class="card-img-top" alt="Developer 3" style="object-fit: cover; height: 350px;">
        <div class="card-body">
          <h5 class="card-title">E.F.</h5>
          <p class="card-text">Backend Developer</p>
        </div>
      </div>
    </div>
          <div class="col-md-4 text-center">
      <div class="card">
        <img src="/media/developer4.jpg" class="card-img-top" alt="Developer 3" style="object-fit: cover; height: 350px;">
        <div class="card-body">
          <h5 class="card-title">E.F.</h5>
          <p class="card-text">Backend Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
